/*----------
    Fonts 
 ---------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 /* Common or default css or utilities */

 body{
    font-family: 'Poppins', sans-serif;
 }

 main{
     width: 1440px;
     
     
 }
 
 .fixed-width{
     width: 1160px;
     margin: auto;
 }
 .btn{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #E02C6D;
    margin: 42px 0;
    padding: 10px 24px;
    width: 123px;
    height: 44px;
 }
 .login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 44px;
    
 }

 .btn:hover .login-btn{
     cursor: pointer;
    transform: scale(1.25);
        
    transition: transform 2s ease-in;
 }


 /* Header css */
header{
    background-color: #2D25A0;
    padding-bottom: 86px;
    margin-bottom: 70px;
}

 .menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .menu .menu-items{}
 .menu .menu-items ul{
     display: flex;
     margin-left: -30px;
 }
 .menu .menu-items ul li{
     margin: 10px 0;
     list-style: none;
 }
 .menu .menu-items ul li a{
    margin-right: 36px;
     color: #FFFFFF;
     text-decoration: none;
     font-size: 16px;
     font-weight: 400;
 }
 .menu .btn{
     
 }
 .menu .btn .btn-icon{
     width: 24px;
     height: 24px;
     line-height: 24px;
     
 }
 .menu .btn .btn-text{
    color: #FFFFFF;
    text-decoration: none;
     font-size: 16px;
     font-weight: 400;
    margin-left: 8px;
 }


 /* Banner section css starts */

 .banner{
     width: 1143px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     
 }
 .banner .banner-details{
     width: 485px;
     height: 230px;
 }
 .banner .banner-details h1{
     font-size: 64px;
     color: #FFFFFF;
     line-height: 50px;
 }

 .btn .banner-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 168px;
    height: 44px;
 }

 .btn .banner-btn a{
     font-size: 16px;
     text-decoration: none;
     color: #FFFFFF;
 }

 .btn:hover .banner-btn{
     cursor: pointer;
    transform: scale(1.25);
        
    transition: transform 2s ease-in;
 }
 .banner .banner-image img{
     width: 556px;
     height: 438px;
 }

 /* Player section css starts */

 .player-section{
     
 }

 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 40px;
     background-color: #FFFFFF;
     width: 1160px;
     margin: auto;
 }
 .player{
     width: 330px;
     height: 474px;
     padding: 15px;
     border: 1px solid #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     box-sizing: border-box;
 }
 .player .player-image{
     text-align: center;
 }
 .player .player-image img{
     width: 300px;
     height: 256px;
     
 }
 .player .player-profile{
    width: 300px;
    height: 256px;
    margin: auto;
 }
 .player .player-profile{}
 .player .player-profile .player-name{
     font-size: 28px;
     font-weight: 600;
     margin: 10px 0;
     color: #18191F;
 }
 .player .player-profile .player-details{
     font-size: 16px;
     font-weight: 400;
     color: #6C6C6C;
     line-height: 24px;
     
 }